/* app css stylesheet */

/* See http://angular-ui.github.io/bootstrap/#/getting_started */
.nav, .pagination, .carousel a { cursor: pointer; }

#logo {
    position: relative;
    margin-left: 50%;
    left: -115px;
}

.form-horizontal.well {
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding-top: 13px;
    margin-top: 5px;
}

/* Override Pagination CSS */
.pagination {
    margin: 10px 0;
}

.middle-col {
    vertical-align: middle;
}
.middle-col-support {
    display: table-cell;
    float: none;
}
