<form class="form-horizontal well">
    <div class="form-group">
        <div ng-hide="isAvailableResults()">
            <div class="row text-center hidden-xs">
                <!-- TODO logo? -->
                <br/>
            </div>
        </div>
        <label id="search-input-label" class="col-sm-3 control-label" ng-bind="translation.SEARCH_LABEL">Searching a music album</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"  placeholder="{{translation.SEARCH_PLACEHOLDER}}" ng-model="searchText"
                   typeahead="album for album in autocomplete($viewValue) | filter:$viewValue" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" ng-click="fullTextSearch(searchText, 1)">search</button><!-- TODO i18n-->
        </div>
    </div>
</form>



<div ng-show="isAvailableResults()">
    <div class="row">
        <div id="result-number" class="col-md-3 table-responsive middle-col middle-col-support">
            {{totalItems}} {{translation.SEARCH_RESULTS}} {{translation.SEARCH_IN}}
         </div>
        <div class="col-xs-6 col-md-3 table-responsive middle-col middle-col-support">
            <span ng-bind="translation.SEARCH_PAGE_DISPLAY">Display</span>
            <select ng-model="pageSize" ng-options="c.label for c in pageSizes" ng-change="selectPage(1)"></select>
        </div>
        <div class="col-xs-6 col-md-4 table-responsive middle-col-support">
            <pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        total-items="totalItems" page="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"
                        rotate="false" num-pages="numPages" items-per-page="pageSize.count" on-select-page="selectPage(page)"></pagination>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 table-responsive">
            <table class="table table-striped">
                <tr ng-repeat="album in searchResp.albums.items">
                    <td>
                        <a title="album.images[0].id" href="{{album.images[0].url}}" target="blank">
                            <img width="125px" src="{{album.images[0].url}}" />
                        </a>
                    </td>
                    <td>
                        <a href="{{album.external_urls.spotify}}" target="blank"><strong>{{album.name}}</strong></a>
                        {{translation.ALBUM_FROM}}
                        <span ng-repeat="artist in album.artists">
                            <a href="{{artist.external_urls.spotify}}"><strong>{{artist.name}}</strong></a><br />
                        </span>
                    </td>
                </tr>
            </table>
            <pager total-items="totalItems" page="currentPage" on-select-page="selectPage(page)"></pager>
        </div>
    </div>
</div>

